<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, shrink-to-fit=no">
        <link id="style-link" rel="stylesheet" href="../static/style.css" type="text/css">
        <link id="colorscheme-link" rel="stylesheet" href="../static/color_scheme/default.css" type="text/css">
        <link rel="icon" href="https://s1.ax1x.com/2022/10/01/xuzw4K.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.7.0/hint.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/dracula.min.css">
        <title>gglu聊天室</title>
        <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script src="../static/vendor/remarkable.min.js"></script>
    </head>
    <body>
        <nav style="height: 2em;">
            <button id="menu" aria-label="查看在线用户">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 50;height: 50;">
                    <path d="M10 18 h30 v-2 H10 v2 z m0 -5 h30 v-2 H10 v2 z m0 -7 v2 h30 V6 H10 z" fill="white" />
                </svg>
            </button>
            <div id="onlineBox" class="hidden" tabindex="0">
                <button id="clear"><i class="fa-solid fa-trash-can"></i>清空所有消息</button><br/>
                <button id="light"><i class="fa-solid fa-moon"></i>阴间模式</button><br />
                <button id="moreSettings"><i class="fa-solid fa-gear"></i>更多设置</button>
                <hr/>
                <h3>在线列表</h3>
                <div id="content">
                    <ul id="users"></ul>
                </div>
            </div>
        </nav>
        <audio style="display: none;" id="notify" preload="auto" src="../static/notify.mp3">
            <source src="../static/notify.mp3" type="audio/ogg">
        </audio>
        <article id="chatarea">
            <div id="brick" style="height: 6rem;"></div>
        </article>
        <div>
            <textarea id="chatbox" type="text" autocomplete="off" autofocus></textarea>
        </div>
        <div class="popBackground">
            <div class="modal">
                <header>
                    <h2>更多设置</h2><div id="close" style="font-size: 30px;cursor: pointer;">&times;</div>
                </header>
                </br>
                <p>空空如也，你瞅啥……</p>
            </div>
        </div>
        <script>
            const menuBtn = document.querySelector('#menu'),
            popup = document.querySelector('#onlineBox'),
            clearBtn = document.querySelector('#clear'),
            settingBtn = document.querySelector('#moreSettings')
            settingBox = document.querySelector('.modal'),
            closeBtn = document.querySelector('#close'),
            popBackgroundArea = document.querySelector('.popBackground'),
            lightBtn = document.querySelector('#light');

            // 右上角菜单栏
            menuBtn.onclick = () =>{
                if (popup.classList.contains('hidden')){
                    popup.classList.remove('hidden');
                    popup.classList.add('show');
                }
                else{
                    popup.classList.remove('show');
                    popup.classList.add('hidden')
                }
            }
            // 更多设置的弹窗
            settingBtn.onclick = () =>{
                popBackgroundArea.style.opacity = 1
                popBackgroundArea.classList.toggle('showing')
            }
            closeBtn.onclick = () =>{
                popBackgroundArea.style.opacity = 0
                setTimeout("popBackgroundArea.classList.toggle('showing')", 200)
            }
            // 点击侧边栏后在点击其他位置关掉侧边栏
            popup.onblur = () =>{
                popup.classList.remove('show');
                popup.classList.add('hidden');
            }
            // 清空消息
            clearBtn.onclick = () =>{
                var chatarea = document.querySelector('#chatarea')
                chatarea.innerHTML = '';
                var brick = document.createElement('div');
                brick.setAttribute('id', 'brick');
                brick.style.height = '4.5rem';
                chatarea.appendChild(brick);
            }
            // 阴间模式
            lightBtn.onclick = () =>{
                var all = document.querySelector('html');
                all.classList.toggle('dark');
            }
        </script>
        <script src="../static/chat.js"></script>
    </body>
</html>