{% extends 'layout.html' %}

{% block link %}
    <link rel="icon" href="https://s1.ax1x.com/2022/10/01/xuzw4K.png">
{% endblock %}

{% block title%}首页{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="keywords" content="聊天室, gglu, 在线聊天, flask, 纯文字, websocket, gglu聊天室, socketio, 文字聊天室, 匿名, bujijam">
    <meta name="description" content="gglu聊天室是一个简洁轻巧的聊天网站。">
    <style>html {
        height: 100%;
    }
    body {
        max-width: 50em;
        margin: auto;
        overflow-y: hidden;
        height: 100%;
        font-family: Consolas, 'Courier New', 'Microsoft YaHei', monospace;
        background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    }
    a {
        text-decoration: none;
    }
    code {
        padding: .2em .4em;
        margin: 0;
        font-size: 95%;
        background-color: rgba(27,31,35,.15);
        border-radius: 3px;
    }
    </style>
{% endblock %}

{% block body%}
    <h1>gglu聊天室</h1>
    <p>欢迎来到gglu聊天室，一个简单轻巧的聊天网站。</p>
    <b>预设的公共聊天室：<a href="../room?chat">?chat</a></b>
    <p>你也可以创建自己的聊天室。以及分享聊天室链接邀请你的朋友加入。</p>
    <p>为了您更好的聊天体验，请阅读：<a href="https://bujijam.us.kg/docs/help-for-gglu" target="_blank">gglu聊天室帮助文档</a></p>
    <p>站长邮箱：<a target="_blank" href="mailto://bujijam@qq.com/" title="邮箱">bujijam@qq.com</a></p>
    <p>2022/8/29</p>
{% endblock %}
