{% extends 'layout.html' %}

{% block link %}
    <link rel="icon" href="https://s1.ax1x.com/2022/10/01/xuzw4K.png">
{% endblock %}

{% block title%}首页{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="keywords" content="聊天室, gglu, 在线聊天, flask, websocket, gglu聊天室, socketio, 文字聊天室, 匿名, bujijam">
    <meta name="description" content="gglu聊天室是一个简洁轻型的聊天网站。">
    <style>html {
        height: 100%;
    }
    body {
        max-width: 50em;
        margin: auto;
        overflow-y: hidden;
        height: 100%;
        font-family: Consolas, 'Courier New', 'Microsoft YaHei', monospace;
        background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    }
    a {
        text-decoration: none;
    }
    code {
        padding: .2em .4em;
        margin: 0;
        font-size: 95%;
        background-color: rgba(27,31,35,.15);
        border-radius: 3px;
    }
    </style>
{% endblock %}

{% block body%}
    <h1>gglu聊天室</h1>
    <p>欢迎来到gglu聊天室，一个简单轻型的聊天网站。</p>
    <b>预设的聊天室：<a href="../room?chat">chat</a></b>
    <p>为了您更好的聊天体验，请点击阅读：</p>
    <details>
        <summary>聊天室食用指南（简易版）</summary>
        <br/>
        <details>
            <summary>介绍</summary>
            <p>gglu聊天室主要由Flask-SocketIO实现。支持markdown。
                项目地址：<a href="https://github.com/gglu-chat/main" target="_blank">gglu-chat</a></p>
        </details>
        <details>
            <summary>登录</summary>
            <p>在这里您无需注册账户，输入一个昵称即可加入聊天室进行聊天。但是为了更好地识别用户，gglu使用tripcode（识别码）认证方式。
                识别码是一串长度位6位的字符，您可以在加入聊天室输入昵称时输入<code>昵称#密码</code>来获得您的专属识别码。您可以将鼠标指针悬浮在昵称上，即可看到相应用户的识别码。
                密码被呈现给服务器进行加密，取前6位作为您的识别码。识别码作为您唯一的身份标识，请不要随意把密码泄露给别人。</p>
        </details>
        <details>
            <summary>创建聊天室</summary>
            <p>您可以通过在url中输入或改变<code>room?房间名</code>来创建自己的聊天室。
               当<code>room</code>后没有参数时，您将进入一个随机房间。</p>        
        </details>
    </details>
    <p>站长邮箱：<a target="_blank" href="mailto://bujijam@qq.com/" title="邮箱">bujijam@qq.com</a></p>
{% endblock %}