{% extends 'layout.html' %}

{% block link %}
    <link rel="icon" href="https://s1.ax1x.com/2022/10/01/xuzw4K.png">
{% endblock %}

{% block title%}首页{% endblock %}

{% block head %}
    {{ super() }}
    <style>html {
        height: 100%;
    }
    body {
        max-width: 50em;
        margin: auto;
        overflow-y: hidden;
        height: 100%;
        font-family: Consolas, 'Courier New', 'Microsoft YaHei', monospace;
        background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    }
    </style>
{% endblock %}

{% block body%}
    <h1>gglu聊天室</h1>
    <p>首页还什么都没有呢</p>
    <b><del>仅有的</del>预设的聊天室：<a href="../chat">chat</a></b>
    <p>项目地址：<a href="https://github.com/gglu-chat/main" target="_blank">gglu-chat</a></p>
{% endblock %}