body {
    max-width: 50em;
    margin: auto;
    font-family: Consolas, 'Courier New', 'Microsoft YaHei', monospace
}
.message {
    word-wrap: break-word;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.nick {
    font-weight: 700;
}
textarea {
    height: 50px;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 50rem;
    resize: none;
}