body {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    color: #2f4f4f;}
textarea {
    color: #2e294d;
}
a:hover {
    text-decoration: underline dotted #2f4f4f;
}
.nick {
    color: #2f4f4f;
}