body {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    color: #2f4f4f
}
textarea {
    color: #2e294d;
}
a {
    color: #426666;
}
a:hover {
    text-decoration: underline dotted #2f4f4f;
}
.nick {
    color: #8b72a0;
}
::selection {
    background-color: #8592a6d1;
}
.warn {
    color: #d38a40;
}
.info {
    color: #699193;
    font-weight: bold;
}
.show {
    background-color: rgb(240, 248, 255, .7);
}
.modal {
    background-color: #f0ffff;
}
#close:hover{
    color: deeppink;
}
